{% load staticfiles %}
{% load humanize_date %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenLink</title>
    <link rel="stylesheet" href="{% static "css/w3.css" %}">
    <link href="{% static "css/font-awesome.css" %}" type="text/css" rel="stylesheet">
</head>
<body>

<header class="w3-container w3-teal">
    <h1>
        OpenLink
        <form class="w3-right w3-row" method="get" action="/search">
            <input name="q" id="q"
                   autofocus
                   class="w3-input w3-col m11 s11"
                   style="font-weight: normal; font-size: small; color: #3a3a3a; margin-top: 10px; margin-bottom: 10px"
                   type="text">
            <i class="fa fa-search w3-col m1 s1" style="font-size: xx-large; margin-top: 10px"></i>
        </form>
    </h1>
</header>

<ul class="w3-navbar w3-black">
    {% for section in sections %}
        <li><a {% if active_section == section.name %}class="w3-red" {% endif %}
               href="/sites/{{ section.name }}/">{{ section.name }}</a></li>
    {% endfor %}
    {% if active_section == '' %}
        <li><a class="w3-red" href="#"><i class="fa fa-search"></i></a></li>
    {% endif %}
</ul>

<div class="w3-row l12 m12 s12" class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 1 }'>
    {% for site in sites %}
        <div class="w3-col w3-card-2 l4 m3 s12 w3-animate-zoom grid-item" style="padding: 5px">
            <header class="w3-container w3-light-grey">
                <div class="w3-row">
                    <a target="_blank" href="/open/{{ site.id }}">
                        <h3 class="w3-col l11 m10 s10">{{ site.name }}</h3>
                        <span class="w3-tag w3-red w3-col l1 m2 s2 w3-right"
                              style="margin-top: 15px">{{ site.hits }}</span>
                    </a>
                </div>
            </header>
            <div class="w3-row">
                <div class="w3-container w3-col w3-leftbar{% if site.active %} w3-border-green {% else %} w3-border-red {% endif %}">
                    <p>{{ site.description }} <span class="w3-right">{{ site.last_check|humanize }}</span></p>
                    <hr>
                    <p><a target="_blank" href="/open/{{ site.id }}"><i class="fa fa-external-link"></i> {{ site.url }}
                    </a>
                        <i class="fa {% if site.active %} fa-link {% else %} fa-unlink {% endif %} w3-right w3-large"
                           style="color: {% if site.active %} green {% else %} red {% endif %}"></i>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</body>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
    // vanilla JS
    // init with element
    var grid = document.querySelector('.grid');
    var msnry = new Masonry(grid, {
        // options...
        itemSelector: '.grid-item',
        columnWidth: 200
    });

    // init with selector
    var msnry = new Masonry('.grid', {
        // options...
    });
</script>
</html>
